---
import PageLayout from '@app/layouts/PageLayout.astro';
import type { PageMetadata } from '@app/config/pages';
import logo from '@app/stages/Welcome/assets/25Drenderer.jpg';

export const metadata: PageMetadata = {
  title: 'Введение',
};
---

<PageLayout>
  <section class="flex flex-col gap-4">
    <img src={logo.src} class="max-w-100" alt="2.5D Renderer logo" />
    <p class="py-2">
      Весь этот проект — это моя попытка с нуля воссоздать рендер на TypeScript в браузере похожий на тот, каким он был сделан в <a class="link underline" href="https://en.wikipedia.org/wiki/Doom_(1993_video_game)" target="_blank">DOOM 1993</a> и оставить после себя артефакт, объясняющий другим, как все работает под капотом. Конечно, уже существуют такие проекты, как, например, <a class="link underline" href="https://github.com/amroibrahim/DIYDoom/tree/master" target="_blank">репозиторий DIYDoom</a> или такая замечательная книга, как <a class="link underline" href="https://fabiensanglard.net/gebbdoom/index.html" target="_blank"> Game Engine Black Book DOOM</a>. И пусть в них описывают некоторые основные идеи и даже показываются реализации, но они не раскрывают суть, почему в прошлом было сделано именно так или иначе.
    </p>
    <p class="py-2">
      С одной стороны, мне хотелось столкнуться со сложностями отрисовки из прошлого, чтобы сравнить мои первые наивные идеи с тем, как это по итогу было сделано в DOOM. С другой стороны, только проделав путь самому, можно попытаться объяснить, почему в прошлом были сделаны именно такие шаги. И именно благодаря попытке воссоздать все с нуля у меня появилась интуиция, зачем был необходим алгоритм <a class="link underline" href="https://en.wikipedia.org/wiki/Binary_space_partitioning" target="_blank">Binary space partitioning</a>. Не знаю, какие изначально были мысли у Джона Кармака, но когда вы доберетесь до раздела, посвященного BSP, и столкнетесь с проблемой, которую предстоит решить, то введение этого алгоритма будет чертовски уместным.
    </p>
    <p class="py-2">
      То, что повествуется на этом ресурсе — это не пошаговая реализация отрисовщика DOOM, это использование идей из DOOM, поэтому финальный результат может отличаться от оригинала. Здесь я иду своим путем, опираясь на свой и чужой опыт. Например, так же, как и в прошлом, я сделаю все вычисления геометрии и текстур на CPU. Так же, как и в прошлом, я использую понятия секторов и порталов. Так же, как и в прошлом, я изучаю и применяю алгоритм Binary space partitioning. 
    </p>
    <p class="py-2">
      Проект находится в стадии активной разработки, поэтому если вы найдете опечатки или у вас будут предложения по улучшению этого проекта, не стесняйтесь создавать <a class="link underline" href="https://github.com/ufocoder/25d-renderer/issues/new" target="_blank">issues на github</a>.
    </p>
    <p class="py-2">
      Добро пожаловать и приятного чтения!
    </p>
  </section>
</PageLayout>
