---
import PageLayout from '@app/layouts/PageLayout.astro';
import Stage from '@app/pages/stage/_islands/Stage3b';
import type { PageMetadata } from '@app/config/pages';

export const metadata: PageMetadata = {
  title: 'Разбитие на подсектора',
  groupTitle: 'Stage 3: Binary Space Partition',
};
---

<PageLayout>
  <section class="flex flex-col gap-4">
    <p class="py-2 text">
      Мы не можем нарисовать сектор в секторе, но мы можем разбить сектора таким образом, чтобы на уровне не было внутренних секторов. Благодаря реализации этой идеи прославился в свое время Джон Кармак, а именно тем, что стал использовать алгоритм Binary Space Partition.
    </p>
    <p class="py-2 text">
      Кратко: выберем некоторые линии в качестве разделителей. Затем будем разбивать уровень на две части относительно этих линий разделителей. Разбивать будем до тех пор, пока не получим подпространства, образующие выпуклые многоугольники. Полученное разбиение мы представляем в виде дерева. Обратный обход по дереву позволит нам гарантировать, что отрисовка стен будет от ближних к дальним, а это позволит перейти к идее об использовании порталов.
    </p>
    <p class="py-2 text">
      Рассмотрим для уровня из прошлой заметки, как будет строиться разбитие на пространство
    </p>
    <Stage part={0} client:load />
    <p class="py-2 text">
      Поскольку в будущем при обходе дерева нам важно понимать, с какой стороны от разделителя находится камера, алгоритм подготовки дерева еще обязан проверить, что все сегменты направлены по часовой или против часовой стрелке. Как следствие, линия-разделитель может попадать в два пространства с противоположными направлениями.
    </p>
    <p class="py-2 text">
      На результат, помимо геометрии уровня, очень сильно влияет изначально выбранные разделители.
    </p>
    <h2 class="text-2xl">
      Содержимое дерева
    </h2>
    <p class="py-2 text">
      Получившееся BSP-дерево в виде JSON
    </p>
    <Stage part={1} client:load />
  </section>
</PageLayout>
