---
import PageLayout from '@app/layouts/PageLayout.astro';
import type { PageMetadata } from '@app/config/pages';
import { codeToHtml } from 'shiki';

export const metadata: PageMetadata = {
  title: 'Почему (не) WAD файл',
  groupTitle: 'Stage 0: Введение',
};

const code1 = `
  interface Vertex {
    x: number;
    y: number;
  }

  interface Linedef {
    startVertex: Vertex;
    endVertex: Vertex;
    flags: number;
    lineType: number;
    sectorTag: number;
    rightSidedef?: Sidedef;
    leftSidedef?: Sidedef;
  }

  interface Seg {
    startVertex: Vertex;
    endVertex: Vertex;
    slopeAngle: Angle;
    linedef: Linedef;
    direction: number;
    offset: number;
    rightSector?: Sector;
    leftSector?: Sector;
  }

  interface Sidedef {
    xOffset: number;
    yOffset: number;
    upperTexture: string;
    lowerTexture: string;
    middleTexture: string;
    sector?: Sector;
  }

  interface BSPNode {
    x: number;
    y: number;
    changeX: number;
    changeY: number;

    rightBoxTop: number;
    rightBoxBottom: number;
    rightBoxLeft: number;
    rightBoxRight: number;

    leftBoxTop: number;
    leftBoxBottom: number;
    leftBoxLeft: number;
    leftBoxRight: number;

    rightChildID: number;
    leftChildID: number;
  }

  interface Sector {
    floorHeight: number;
    floorTexture: string;
    ceilingHeight: number;
    ceilingTexture: string;
    lightlevel: number;
    type: number;
    tag: number;
  }

`;

const codeHtml = await codeToHtml(code1, {
  lang: 'ts',
  theme: 'github-dark',
});

---

<PageLayout>
  <section class="flex flex-col gap-4">
    <p class="py-2">
      Уровни в оригинальном DOOM описываются с помощью <a class="link underline" href="https://doom.fandom.com/wiki/WAD" target="_blank">WAD файлов</a>. В них хранится абсолютно все: от графики и звуков до описания самих уровней. Название WAD расшифровывается как <span class="font-semibold">Where's All the Data?</span> — "А где все данные?". 
    </p>
    <p class="py-2">
      Если попытаться представить с помощью TypeScript часть сущностей из WAD-файла, которые описывают исключительно геометрию уровня, то можно выделить следующие интерфейсы (или типы):
    </p>
    <div set:html={codeHtml} />
    <p class="py-2 text">
      Зачем я выше привел эти типы? Дело в том, что мы будем вводить свои абстракции, но при этом пытаться следовать духу исходного кода DOOM. Другими словами, вы обнаружите, что типы будут пересекаться в именовании и назначении, но одновременно с этим могут незначительно отличаются в составе полей — и это будет ожидаемый результат.
    </p>
    <p class="py-2 text">
      Повторюсь, что целью данного цикла заметок является не создание клона DOOM, а использование его идей. В любом случае ничто не мешает вам переписать получившийся код или наоборот написать маппер, преобразующий оригинальные WAD-файлы к описанному нами набору типов.
    </p>
  </section>
</PageLayout>
