---
import PageLayout from '@app/layouts/PageLayout.astro';
import InDevelopmentGate from '@app/pages/_components/InDevelopmentGate.astro';
import Stage from '@app/pages/stage/_islands/Stage3d';
import type { PageMetadata } from '@app/config/pages';
import { codeToHtml } from 'shiki';

export const metadata: PageMetadata = {
  title: 'Отрисовка внутреннего сектора',
  groupTitle: 'Stage 3: Binary Space Partition',
};

const code1 = `
 function render25d(
    ctx: CanvasRenderingContext2D,
    settings: Settings,
  ) {
    const camera = settings.camera;
    const allSegments = settings.level.linedefs;
    const bspTree = buildBSPTree(allSegments);
    const solidWallRanges = createSolidWallRanges(camera);

    traverseBSPTree(bspTree, camera, (bspNode: BSPLeaf) => {
      for (const seg of bspNode.segs) {
        const sector = seg.frontSector!;

        const projection = projectSeg(camera, sector, seg);

        if (!projection) {
          continue;
        }

        drawSolidWall(ctx, camera, seg, projection, solidWallRanges);
      }
    });
  }

`;


const code1Html = await codeToHtml(code1, { lang: 'ts', theme: 'github-dark' });
---

<PageLayout>
  <InDevelopmentGate />
  <section class="flex flex-col gap-4">
    <p class="py-2 text">
      Отрисуем снова внутренний сектор с обычными сегментами
    </p>
    <Stage part={0} client:load />
    <h2 class="text-2xl">
      Немного кода
    </h2>
    <div set:html={code1Html} />
  </section>
</PageLayout>
