---
import PageLayout from '@app/layouts/PageLayout.astro';
import Stage from '@app/pages/stage/_islands/Stage3e';
import type { PageMetadata } from '@app/config/pages';
import { codeToHtml } from 'shiki';

export const metadata: PageMetadata = {
  title: 'Порталы 1D: соединяем сектора',
  groupTitle: 'Stage 3: Binary Space Partition',
};

const code1 = `
  function render25d(
    ctx: CanvasRenderingContext2D,
    settings: Settings,
  ) {
    const camera = settings.camera;
    const allSegments = settings.level.linedefs;
    const bspTree = buildBSPTree(allSegments);
    const solidWallRanges = createSolidWallRanges(camera);

    traverseBSPTree(bspTree, camera, (bspNode: BSPLeaf) => {
      for (const seg of bspNode.segs) {
        const sector = seg.frontSector!;

        const projection = projectSeg(camera, sector, seg);

        if (!projection) {
          continue;
        }

        if (!isPortal(seg)) {
          drawSolidWall(ctx, camera, seg, projection, solidWallRanges);
        }
      }
    });
  }

`;


const code2 = `
  interface SolidSegmentRange {
    xStart: number;
    xEnd: number;
  }

  function createSolidWallRanges(camera: Camera) {
    const ranges: SolidSegmentRange[] = [];

    ranges.push({ xStart: Number.MIN_SAFE_INTEGER, xEnd: -1 });
    ranges.push({ xStart: camera.screen.width, xEnd: Number.MAX_SAFE_INTEGER });

    return ranges;
  }

`;


const code3 = `
  function drawSolidWall(
    ctx: CanvasRenderingContext2D,
    camera:Camera, 
    // .. 
    solidWallRanges: SolidSegmentRange[]
  ) {
    // ..
    const xStart = projection.start.screenX;
    const xEnd = projection.end.screenX;
    const xFrom = Math.max(0, Math.floor(Math.min(xStart, xEnd)));
    const xTo = Math.min(camera.screen.width - 1, Math.ceil(Math.max(xStart, xEnd)));
    // ..
    for (let x = xFrom; x <= xTo; x++) {
      if (!isWallVisible(x, solidWallRanges)) {
        continue;
      }
  
      // рисуем стены
    }
  
    addSolidRange(camera, xStart, xEnd, solidWallRanges);
  }

`;


const code1Html = await codeToHtml(code1, { lang: 'ts', theme: 'github-dark' });
const code2Html = await codeToHtml(code2, { lang: 'ts', theme: 'github-dark' });
const code3Html = await codeToHtml(code3, { lang: 'ts', theme: 'github-dark' });
---

<PageLayout>
  <section class="flex flex-col gap-4">
    <Stage part={0} client:load />
    <h2 class="text-2xl">
      Немного кода
    </h2>
    <div set:html={code1Html} />
    <div set:html={code2Html} />
    <div set:html={code3Html} />
  </section>
</PageLayout>
