---
import PageLayout from '@app/layouts/PageLayout.astro';
import Stage from '@app/pages/stage/_islands/Stage2e';
import type { PageMetadata } from '@app/config/pages';

export const metadata: PageMetadata = {
  title: 'Соседний сектор',
  groupTitle: 'Stage 2: Отрисовка секторов',
};
---

<PageLayout>
  <section class="flex flex-col gap-4">
    <p class="py-2 text">
      Добавим к уровню второй сектор, соприкасающийся с первым. На карте при виде сверху это две соседние комнаты, но текущий отрисовщик обрабатывает каждый сектор отдельно и все сегменты сектора — это непрозрачные стены.
    </p>
    <p class="py-2 text">
      Поэкспериментируйте с положением камеры: общая граница секторов закрывает пространство за ней:
    </p>
    <Stage part={0} client:load />
    <p class="py-2 text">
      Очевидно, мы должны что-то сделать с общей стеной и не рисовать его как сплошную поверхность.
    </p>
  </section>
</PageLayout>
