---
import PageLayout from '@app/layouts/PageLayout.astro';
import Stage from '@app/pages/stage/_islands/Stage3a';
import type { PageMetadata } from '@app/config/pages';

export const metadata: PageMetadata = {
  title: 'Отрисовка внутреннего сектора',
  groupTitle: 'Stage 3: Binary Space Partition',
};
---

<PageLayout>
  <section class="flex flex-col gap-4">
    <p class="py-2 text">
      Отрисуем внутренний сектор с портальными сегментами
    </p>
    <Stage part={0} client:load />
    <p class="py-2 text">
      Отрисуем внутренний сектор с обычными сегментами
    </p>
    <Stage part={1} client:load />
    <p class="py-2 text">
      Очевидно, текущий отрисовщик с этим не справляется
    </p>
  </section>
</PageLayout>
