---
import PageLayout from '@app/layouts/PageLayout.astro';
import InDevelopmentGate from '@app/pages/_components/InDevelopmentGate.astro';
import Stage from '@app/pages/stage/_islands/Stage3d';
import type { PageMetadata } from '@app/config/pages';
import { codeToHtml } from 'shiki';

export const metadata: PageMetadata = {
  title: 'Отрисовка внутреннего сектора',
  groupTitle: 'Stage 3: Binary Space Partition',
};

const code1 = `
 function render25d(
    ctx: CanvasRenderingContext2D,
    settings: Settings,
  ) {
    const camera = settings.camera;
    const allSegments = settings.level.linedefs;
    const bspTree = buildBSPTree(allSegments);
    const solidWallRanges = createSolidWallRanges(camera);

    traverseBSPTree(bspTree, camera, (bspNode: BSPLeaf) => {
      for (const seg of bspNode.segs) {
        const sector = seg.frontSector!;

        const projection = projectSeg(camera, sector, seg);

        if (!projection) {
          continue;
        }

        drawSolidWall(ctx, camera, seg, projection, solidWallRanges);
      }
    });
  }

`;


const code1Html = await codeToHtml(code1, { lang: 'ts', theme: 'github-dark' });
---

<PageLayout>
  <InDevelopmentGate />
  <section class="flex flex-col gap-4">
    <p class="py-2 text">
      Вернемся к проблеме с внутренним сектором. но теперь будем получать порядок стен обходом BSP-дерева от ближних листьев к дальним.
    </p>
    <p class="py-2 text">
      Экран рисуется вертикальными полосами. После непрозрачной стены ее диапазон по X добавляется в список закрытых участков. Все последующие стены проверяются против этого списка и рисуются только там, где экран еще не перекрыт.
    </p>
    <Stage part={0} client:load />
    <p class="py-2 text">
      Благодаря гарантированному BSP-порядку ближняя геометрия сразу закрывает дальнюю, поэтому внутренний сектор отображается корректно без сортировки стен по приблизительному расстоянию.
    </p>
    <h2 class="text-2xl">
      Немного кода
    </h2>
    <p class="py-2 text">
      На каждом кадре строится дерево, создается список закрытых диапазонов и выполняется обход листьев относительно камеры. Внутри листа сегменты проецируются и передаются функции отрисовки непрозрачной стены.
    </p>
    <div set:html={code1Html} />
  </section>
</PageLayout>
