---
import PageLayout from '@app/layouts/PageLayout.astro';
import Stage from '@app/pages/stage/_islands/Stage2c';
import type { PageMetadata } from '@app/config/pages';
import { codeToHtml } from 'shiki';
import { PROJECT_REPO_URL } from '@app/config/repo';

export const metadata: PageMetadata = {
  title: 'Нормализация высот секторов',
  groupTitle: 'Stage 2: Отрисовка секторов',
};

const code1 = `
  interface Sector {
    segs: Seg[];
    ceilHeight: number;
    floorHeight: number;
  }

`;

const code2 = `
  function projectLinedef(
    camera: Camera, 
    sector: Sector,
    linedef: Linedef
  ): LinedefProjection | null {
    // ..
    return {
      start: {
        // ..
        topY: horizontalCenter - (sector.ceilHeight! * startScale / distanceToCamera),
        bottomY: horizontalCenter + (sector.floorHeight! * startScale / distanceToCamera)
      },
      end: {
        // ..
        topY: horizontalCenter - (sector.ceilHeight! * endScale / distanceToCamera),
        bottomY: horizontalCenter + (sector.floorHeight! * endScale / distanceToCamera)
      }
    };
  }

`;

const code1Html = await codeToHtml(code1, { lang: 'ts', theme: 'github-dark' });
const code2Html = await codeToHtml(code2, { lang: 'ts', theme: 'github-dark' });
---

<PageLayout>
  <section class="flex flex-col gap-4">

    <p class="py-2 text">
      На прошлом шаге стена симметрично росла вверх и вниз относительно линии горизонта, что выглядят не совсем корректно для нашего восприятия. Отсюда очевидно, что добавления одной только высоты для сектора это недостаточно. 
    </p>
    <p class="py-2 text">
      Cекторам нужны разные уровни пола или потолка:
    </p>
    <div set:html={code1Html} />
    <p class="py-2 text">
      Теперь при расчете проекции будем учитывать эти уровни:
    </p>
    <Stage part={0} client:load />
    <p class="py-2 text">
      Слева показана исходная модель с одной высотой: стены центрируются по линии горизонта независимо от того, где должен находиться пол. Справа верхняя и нижняя экранные координаты вычисляются раздельно из <code class="px-2 py-1 bg-gray-100 text-gray-800 text-xs font-semibold rounded">ceilHeight</code> и <code class="px-2 py-1 bg-gray-100 text-gray-800 text-xs font-semibold rounded">floorHeight</code>.
    </p>
    <p class="py-2 text">
      И если до этого мы считали высоту сектора и только потом вычисляли Y-координаты четырехугольника, то сейчас будем считать Y-координаты для проекции сразу:
    </p>
    <div set:html={code2Html} />
    <p class="py-2 text">
      <a href={`${PROJECT_REPO_URL}/stages/Stage2c/render25d.ts`} target="_blank" rel="noopener noreferrer" class="inline-flex items-center gap-1 text-blue-600 hover:text-blue-800 hover:underline transition-colors" >Реализация шага на github</a>
    </p>
  </section>
</PageLayout>
