---
import PageLayout from '@app/layouts/PageLayout.astro';
import Stage from '@app/pages/stage/_islands/Stage4b';
import type { PageMetadata } from '@app/config/pages';

export const metadata: PageMetadata = {
  title: 'Коллизии со стенами',
  groupTitle: 'Stage 4: Улучшаем движение',
};
---

<PageLayout>
  <section class="flex flex-col gap-4">
    <Stage client:load />
  </section>
</PageLayout>
