---
import PageLayout from '@app/layouts/PageLayout.astro';
import Stage from '@app/pages/stage/_islands/Stage2d';
import type { PageMetadata } from '@app/config/pages';
import { PROJECT_REPO_URL } from '@app/config/repo';

export const metadata: PageMetadata = {
  title: 'Пол и потолок: сектор',
  groupTitle: 'Stage 2: Отрисовка секторов',
};
---

<PageLayout>
  <section class="flex flex-col gap-4">
    <p class="py-2 text">
      Возьмем простой сектор — прямоугольник при виде сверху. 
    </p>
    <p class="py-2 text">
      Зная координаты вершин для конкретной стены, достроим вертикальные линии и получим пол и потолок. Все просто:
      нижняя граница стены продолжается до нижнего края экрана и образует фрагмент пола, а верхняя — до верхнего края и образует фрагмент потолка.
    </p>
    <Stage part={0} client:load />
    <p class="py-2">
      <a href={`${PROJECT_REPO_URL}/stages/Stage2d/render25d.ts`} target="_blank" rel="noopener noreferrer" class="inline-flex items-center gap-1 text-blue-600 hover:text-blue-800 hover:underline transition-colors" >Реализация шага на github</a>
    </p>
  </section>
</PageLayout>
