---
import PageLayout from '@app/layouts/PageLayout.astro';
import InDevelopmentGate from '@app/pages/_components/InDevelopmentGate.astro';
import Stage from '@app/stages/Stage6a';
import type { PageMetadata } from '@app/config/pages';

export const metadata: PageMetadata = {
  title: 'Предметы',
  groupTitle: 'Stage 6: Прочее',
};
---

<PageLayout>
  <InDevelopmentGate />
  <section class="flex flex-col gap-4">
    <Stage client:load />
  </section>
</PageLayout>
