---
import PageLayout from '@app/layouts/PageLayout.astro';
import InDevelopmentGate from '@app/pages/_components/InDevelopmentGate.astro';
import Stage from '@app/pages/stage/_islands/Stage5b';
import type { PageMetadata } from '@app/config/pages';
import { codeToHtml } from 'shiki';
import { PROJECT_REPO_URL } from '@app/config/repo';

export const metadata: PageMetadata = {
  title: 'Вертикальное: стены',
  groupTitle: 'Stage 5: Текстурирование',
};

const code1 = `
  interface Sector {
    // ..
    wallTexture: string;
  }

`;


const code2 = `
  function drawSolidSegment(
    ctx: CanvasRenderingContext2D,
    camera: Camera, 
    seg: Seg,
    angles: IntersectionAngles, 
    // ..
  ) {
    // ..  

    for (let x = xFrom; x <= xTo; x++) {
      // ..
      const tx = getInterpolationFactor(camera, angles, x);
      // ..

      if (sector.wallTexture) {
        const texture = textures[sector.wallTexture];
        const texX = Math.floor(tx * texture.width);
        
        for (let y = drawTop; y < drawBottom; y++) {
          const v = (y - top) / (bottom - top);
          const texY = Math.floor(v * texture.height) % texture.height;        
          const color = getTextureColor(texture, texX, texY);
          
          drawPixel(ctx, x, y, color);
        }
      } else {
        drawVerticalLine(ctx, x, drawTop, drawBottom, wallColor);
      }
      // ..
    }

    // ..
  }
`;


const code3 = `
  function getInterpolationFactor(
    camera: Camera,
    angles: IntersectionAngles,
    screenX: number,
  ): number {
    const fov = camera.fov.degrees;
    const screenWidth = camera.screen.width;
    const angle = angles.cameraFrom + (screenX / screenWidth) * fov;
    const t = (angle - angles.linedefFrom) / (angles.linedefTo - angles.linedefFrom);
    
    return Math.max(0, Math.min(1, t));
  }

`;


const code1Html = await codeToHtml(code1, { lang: 'ts', theme: 'github-dark' });
const code2Html = await codeToHtml(code2, { lang: 'ts', theme: 'github-dark' });
const code3Html = await codeToHtml(code3, { lang: 'ts', theme: 'github-dark' });
---

<PageLayout>
  <InDevelopmentGate />
  <section class="flex flex-col gap-4">
    <Stage part={0} client:load />
    <p class="py-2">
      Добавим ID текстуры стены в описание сектора
    </p>
    <div set:html={code1Html} />
    <p class="py-2">
      На примере <code>drawSolidSegment</code> рассчитаем координату текстуры для текущей экранной координаты
    </p>
    <div set:html={code2Html} />
    <p class="py-2">
      Где <code>getInterpolationFactor</code>:
    </p>
    <div set:html={code3Html} />
    <p class="my-2">
      <a href={`${PROJECT_REPO_URL}/stages/Stage5b/render25d.ts`} target="_blank" rel="noopener noreferrer" class="inline-flex items-center gap-1 text-blue-600 hover:text-blue-800 hover:underline transition-colors" >Реализация шага на github</a>
    </p>
  </section>
</PageLayout>
