---
import PageLayout from '@app/layouts/PageLayout.astro';
import Stage from '@app/pages/stage/_islands/Stage2f';
import type { PageMetadata } from '@app/config/pages';

export const metadata: PageMetadata = {
  title: 'Порталы: соединяем сектора',
  groupTitle: 'Stage 2: Отрисовка секторов',
};
---

<PageLayout>
  <section class="flex flex-col gap-4">
    <Stage client:load />
  </section>
</PageLayout>
