---
import PageLayout from '@app/layouts/PageLayout.astro';
import Stage from '@app/pages/stage/_islands/Stage5b';
import type { PageMetadata } from '@app/config/pages';

export const metadata: PageMetadata = {
  title: 'Вертикальное: стены',
  groupTitle: 'Stage 5: Текстурирование',
};
---

<PageLayout>
  <section class="flex flex-col gap-4">
    <Stage client:load />
  </section>
</PageLayout>
