---
import PageLayout from '@app/layouts/PageLayout.astro';
import Stage from '@app/pages/stage/_islands/Stage1c';
import type { PageMetadata } from '@app/config/pages';

export const metadata: PageMetadata = {
  title: 'Проблема Fish eye',
  groupTitle: 'Stage 1: Отрисовка стен',
};
---

<PageLayout>
  <section class="flex flex-col gap-4">
    <Stage client:load />
  </section>
</PageLayout>
