---
import PageLayout from '@app/layouts/PageLayout.astro';
import Stage from '@app/pages/stage/_islands/Stage3h';
import type { PageMetadata } from '@app/config/pages';

export const metadata: PageMetadata = {
  title: 'Разные высоты секторов: решение',
  groupTitle: 'Stage 3: Binary Space Partition',
};
---

<PageLayout>
  <section class="flex flex-col gap-4">
    <div class="grid grid-cols-2 gap-4">
      <div class="mt-4 flex flex-col">
        <h2 class="text-2xl">
          2.5D Renderer
        </h2>
      </div>
      <div class="mb-2 mt-4">
        <h2 class="text-2xl">
          2D Renderer
        </h2>
      </div>
    </div>
    <Stage part={0} client:load />
  </section>
</PageLayout>
